.error-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  
  gap: 10px;
}

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  margin-bottom: 10px;
  height: 200px;
}

.button-error-container {
  width: 100%;
  
  box-sizing: border-box;
}

.error-tittle {
  font-size: 14px;
}
.error-tittle-error-code {
  color: red;
  font-size: 50px;
}
.error-subtittle {
  font-size: 14px;
}
.error-btn-back {
}
