@import "tools.css";

".tittle");
 const labelI = Label(education.institution, ".institution");
 const img = Img(education.tittle_img, "Imagen de titulo.", ".img_tittle");
 
 const contaP = Div([labelT, labelI, img], ".containerP");
 const contaS = Div([], ".containerS");

 education.more_education.forEach((e) => {
  contaS.appendChild( Div( [
      Label(e.tittle, ".sub_tittle"),
      A(e.url, e.institution, ".sub_institution"),
      Img(e.tittle_img, "Imagen del titutlo", ".sub_img_tittle")
.sub_container_education
.container_education
.proyects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.constainer-experience {
    width: 100%;
    border-radius: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset -3px -3px 3px 0px #304990, -3px -3px 5px 0px #304990, 0px 0px 1px 1px #5582ff;
    padding: 10px 10px;
    box-sizing: border-box;
    gap: 10px;
    /* background: linear-gradient(
        135deg,
        grey 15%,
        gray 30%, 
        lightgrey 50%,
        silver 65%,
        grey 98%);; */
}