@import "tools.css";

.educations {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.container_education {
    width: 100%;
    border-radius: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset -3px -3px 3px 0px #304990, -3px -3px 5px 0px #304990, 0px 0px 1px 1px #5582ff;
    padding: 10px 10px;
    box-sizing: border-box;
    gap: 10px;
    
}

.tittle_education {
 
}

.institution {
 border: 1px solid red;
}

.img_tittle {
 border: 1px solid red;
}

.containerP {
 border: 1px solid red;
}

.containerS {
 border: 1px solid red;
}

.sub_tittle {
 border: 1px solid red;
}

.sub_institution {
 border: 1px solid red;
}

.sub_img_tittle {
 border: 1px solid red;
}

.sub_container_education {
 border: 1px solid red;
}