@import "tools.css";

.proyects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.constainer-experience {
    width: 100%;
    border-radius: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset -3px -3px 3px 0px #304990, -3px -3px 5px 0px #304990, 0px 0px 1px 1px #5582ff;
    padding: 10px 10px;
    box-sizing: border-box;
    gap: 10px;
    /* background: linear-gradient(
        135deg,
        grey 15%,
        gray 30%, 
        lightgrey 50%,
        silver 65%,
        grey 98%);; */
}

.tittle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.description {
    font-size: 9px;
}


.titleTegnology {
    font-size: 12px;
    font-weight: 700;
    position: relative;
    right: 30%;
    top: 18px;
    background-color: black;
}

.tenology {
    font-size: 10px;
    font-weight: 700;
}

.repository {
    font-size: 10px;
    font-weight: 700;
}

.tenology:before {
    content: "-";
    margin-left: 2px;
    
}

.repository:before {
    content: "-";
    margin-left: 2px;
    
}

.contan-repository {
    width: 100%;
}

.contan-tegnology {
    width: 100%;
}

.container-tegnology {
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px;
    gap: 2px;
    padding: 10px 10px;
    box-shadow: inset 0px 0px 5px 1px gray;
}

.container-repository {
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px;
    gap: 2px;
    padding: 10px 10px;
    box-shadow: inset 0px 0px 5px 1px gray;
}
